*{
	margin: 0;
	padding: 0;
}
.fundiv *{
	font-family: Arial;
	font-size: 16px;
}
.fundiv{
    height: 30px;
	width: 698px;
	line-height: 30px;
	position: absolute;
	z-index: 10;
	border:1px solid #999;
	background-color: #fff;
}
.fundiv input,.fundiv button {
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: inline-block;
}
.fundiv input {
	width: 198px;
}
.fundiv button {
	width: 78px;
	cursor: pointer;
}

#hide {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	background: #000;
	color: #fff;
	border-radius: 15px;
}